.about_agency {

  .about_agency_card {
    color: #000;

    .about_agency_body {

      &>p,
      span {
        font-size: 14px !important;
      }

      .agency_text {
        text-align: justify;
      }
    }
  }

  // .leadership_body {
  .ant-divider.ant-divider-horizontal {
    margin: 16px 0;

    &:last-child {
      display: none;
      // margin-bottom: 0;
    }
  }

  // }

}