.regional-administrations {
    &_card {
        max-width: 500px;
        width: 100%;
        background-color: #fff;
        padding: 15px;
        border-radius: 6px;
        margin: 0 auto;

        .title {
            font-size: 18px;
            color: #137461;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .name {
            color: #444;
        }

        .card_imgBx {
            width: 150px;
            height: 200px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    svg {
        .region-path {
            fill: #849c94;
            cursor: pointer;

            &:hover {
                fill: #119769 !important;
            }
        }
    }
}