.site_map {
  margin-top: 15px;
  margin-bottom: 15px;

  .site_map_card {
    .site_map_body {
      .site_link {
        display: inline-block;
        padding: 5px;
        
        &-title {
          font-size: 16px;
          margin: 5px 0;
        }
      }

      .subcategories {
        margin-left: 40px;

        .subcategory {
          list-style: circle;

        }
      }
    }
  }
}