.symbols {
    // background-color: #fff;
    margin: 15px 0;

    .page_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    &__audio {
        margin: 0 auto;
    }
}