.content_news_tab {
  margin: 20px 0 10px;

  .ant-tabs {
    width: 100%;

    .ant-tabs-ink-bar {
      background-color: #119769;
    }

    &-tab {
      font-size: 16px;
      padding: 6px 0;

      &:hover {
        color: #119769;
      }
    }

    &-nav::before {
      border-bottom: none !important;
    }

    &-extra-content {
      .page_title {
        margin-bottom: 0;
        margin-right: 16px;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #119769;
    }

    .news_link {
      color: #137461;
      font-size: 24px;
      font-weight: 600;
      margin-right: 15px;
    }
  }
}
